<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/icon.svg" />
    <title>Forms | done</title>
</head>
<body>
    <div style="    display: flex;
    justify-content: center;" >

        <div style="width: 90%;
    display: flex;
    background-color: rgb(92, 145, 177);
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    flex-direction: column;">
    <h2>Your submission is comformed</h2>
    <h3><%= conformation_message %></h3>
    <h3> you score :- <%= score %>/<%= totalMarks %></h3>
    <h4>you can view your submission here : <a href=<%= viewlink %>> VIEW</a></h4>
</div>
</div>

</body>
</html>